.input_type{
  width: 300px;
  vertical-align: middle;

}

.input_wrapper{
  display: flex;
}

.input_search{
  display: inline-block;
  background: none;
  outline: none;
  border: 1px solid black;
}

.input_clean{
  position: relative;
  background: none;
  border: none;
  top: 1px;
  left: -25px;
  outline: none;
}