.input_type{
  width: 300px;
  vertical-align: middle;

}

.input_wrapper{
  display: flex;
}

.input_clean{
  position: relative;
  background: none;
  border: none;
  left: -25px;
  outline: none;
}