.input_type{
  width: 300px;
  vertical-align: middle;
  background-color: black;
  outline: none;
  color: white;
  font-size: 26px;
  border: 1px solid white;
}

.input_wrapper{
  display: flex;
}

.input_search{
  display: inline-block;
  background: none;
  color: white;
  font-size: 26px;
  outline: none;
  border: 2px solid white;
  padding: 5px 10px;
  transition: 0.25s;
  &:hover{
    background-color: white;
    color: black;
  }
}

.input_clean{
  position: relative;
  background: none;
  border: none;
  top: 1px;
  left: -25px;
  outline: none;
}