.wrapper {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.button{
  display: inline-block;
  background: none;
  color: white;
  font-size: 18px;
  outline: none;
  border: 1px solid white;
  padding: 5px 10px;
  transition: 0.25s;
  &:hover{
    background-color: white;
    color: black;
  }
}

.list {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  display: block;
  padding: 10px;
}

.region{
  cursor: pointer;
  margin: 5px 5px;
  text-align: center;
  white-space: nowrap;
  &:hover{
    text-decoration: underline;
  }
}
