.search{
  &_node{
    border: 1px solid black;
    display: block;
    width: 200px;
  }

  &_suggest{
    &_wrapper{
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 300px;
    }
  }
}