.filter {
  &_wrapper {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-left: 10px;
    vertical-align: middle;
  }

  &_checkbox{
    vertical-align: middle;
  }

  &_list_wrapper {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    left: 40px;
    top: -5px;
    padding: 10px;
    border: 1px solid black;
  }

  &_icon{
    cursor: pointer;
  }
}