.summoner_name{
  font-size: 26px;
}

.portraits_wrapper{
  display: inline-block;
}

.top_profile_wrapper{
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
  padding: 10px 20px;
}

.summoner_page_wrapper{
  margin: 0 auto;
  width: 100%;
}

